<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora - A place to share knowledge and better understand the world</title>
    <link rel="icon" href="//qsf.fs.quoracdn.net/-4-ans_frontend_assets.favicon-new.ico-26-e7e93fe0a7fbc991.ico">
    
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <h1>Quora Posts</h1>

    <% for (post of posts) { %>
        <div class="posts">
            <!-- Photo section start -->
            <% if (post.photo) { %>
                <img src="<%= post.photo %>" alt="Post photo" class="post-photo" />
            <% } %>
            <!-- Photo section end -->

            <h3>@<%= post.username %></h3>
            <h4><%= post.content %></h4>

            <a href="/posts/<%= post.id %>" class="a"><span class="post">See post in details</span></a>
            <a href="/posts/<%= post.id %>/edit" class="a"><span class="post">Edit Post</span></a> 

            <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                <button>Delete Post</button>
            </form>
        </div>
    <% } %> 

   <a href="/posts/new" class="floating-btn">+ New Post</a>

</body>
</html>
